<h1>Timeline</h1>

<%=form_tag '/write', method: 'post' do %>
    <textarea name = "naeyong"></textarea>
    <input type = "submit">
<% end %>
<ul>
    <% @blogs.each do |b| %>
    <li><%=b.content%>
    
    <! blog edit, delete >
    <a href="/blog_edit?id=<%=b.id%>">수정</a>
    <a href="/blog_delete?id=<%=b.id%>">삭제</a>
    
    <%=form_tag '/comment' do %> 
        <input type = "hidden" name ="blog_id" value = "<%=b.id%>"> 
        <input type = "text" name = "comment">
        <input type = "submit">
        <% end %>
        
        <ol>
        <% b.comments.each do |c| %>
            <li><%=c.msg%></li>
        <% end %>
        </ol>
    </li>
    <% end %>
</ul>