<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><a><%=current_user.email%></a></li>
          <li><a href="/">전체 타임라인</a></li>
          <li><a href="/userpage">유저별 타임라인</a></li>
          <li><a href="/users/sign_out" data-method="delete">로그아웃</a></li>
        <% else %>
          <li><a href="/users/sign_in">로그인</a></li>
          <li><a href="/users/sign_up">회원가입</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container" style="margin-top: 70px;">
<%= yield %>
</div>

</body>
</html>
